.todo-form {
    display: flex;
    flex-flow: row wrap;
    gap: 0.5em;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
    border-radius: 1.4rem;
    background: transparent;
    margin: 1.5rem 0 2rem; 
    width: 70%;
    overflow: hidden;
  }
  
  .todo-input {
    font-family: $oswald;
    border-radius: 1rem;
    padding: 1rem;
  }
  
  .input-description {
    font-size: 1.8rem;
    flex: 2 1 0;
    
  }
  .input-title{
    flex: 1 4 auto; 
    font-size: 1.8rem;
  }
  
  .todo-plus-btn {
    flex: 1 1 auto;
    margin-left: auto;
    font-size: 2.5rem;
    padding: 1rem;
    background-color: $blue;
    color: $offwhite;
    text-decoration: none;
    border: none;
    border-radius: 0.5rem;
  
      &:hover{
        background-color: $transparent-blue;
        color: $charcoal;
      }
  }

 @media only screen and (min-width: 0px) and (max-width: 610px) {
  .todo-btn{
    margin: 0;
    height: 5rem;
    min-width: 100%;
}
.todo-plus-btn{
  width: 4rem;
  margin: auto;
}


 }