/* fonts Nunito and Oswald
font-family: 'Nunito', sans-serif; font-family: 'Oswald', sans-serif; */

$nunito: 'Nunito', sans-serif;
$oswald: 'Oswald', sans-serif;

// Background Colors
$foreground-rgb: rgb(0, 0, 0);
$background-start-rgb:  rgba(202,249,255,1);
$background-end-rgb:rgba(47,168,255,1);

// Other Colors
$accent: #008cff;
$lightblue: rgb(153, 234, 248);
$charcoal: #353638;
$offwhite: rgba(246, 246, 246, 0.822);
$blue: rgba(47,168,255,1);
$transparent-blue: rgba(47, 168, 255, 0.521);
$warning: #e63434;


